.home__container {
    background: -webkit-linear-gradient(left, #1cadff, #ffff);
    /* min-height: 100vh; */
    width: 80vw;
    padding:0px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    border-radius:60px;
  }

  .body {
    margin: 0px;
  }